/*****GLOBAL*****/
html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 1.6rem;
}


/*RESET*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/**RESET HEADING SIZES**/
.h1 {
    font-size: 6.6rem;
}

.h2 {
    font-size: 2.4rem;
}

.h3 {
    font-size: 2.1rem;
}

.h4 {
    font-size: 1.8rem;
}

/***NAVIGATION***/
.navBody {
    height: 75px;
    background: #434966;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList {
    display: flex;
    list-style-type: none;
}

.navList_item {
    font-size: 2rem;
    margin-right: 1em;
    border: solid 1px white;
    padding: 0.7em 0em;
}

.navList_item:last-child {
    margin-right: 0em;
}

.navList_item a {
    text-decoration: none;
    color: white;
    padding: 0.7em;
}

.navList_item:hover {
    background: #69719b;
    /* cursor: pointer; */
}

@media screen and (max-width: 670px) {
    .navList_item {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .navList_item {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    .navList_item {
        font-size: 1rem;
    }
}

/***Homepage***/
.homepage {
    min-height: 90vh;
    background-image: url("../../../Desktop/Images/homepage_cover.jpg");
    background-color: goldenrod;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 2px #F79855; 
}

/***About Us***/
.aboutUs {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 1em; 
}

.cards--small {
    height: 40rem;
    width: 65vw;
    display: flex;
    flex-direction: column;
    outline: solid red;
}

.cards--med {
    height: 50rem;
    width: 80vw;
    display: flex;
    flex-flow: column, nowrap;
    outline: solid red;
}

.cards_imgContainer {
    max-height: 40%;
}

.cards_infoContainer {
    min-height: 60%;
}
