/******GLOBAL******/
html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Open Sans', serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.25;   
}


/***RESET***/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/***RESET HEADING SIZES and FONTS***/
h1 {
    font-size: 6.6rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.8rem;
}

.h1, .h2, .h3, .h4 {
    font-family: 'DM Sans', sans-serif;
}

/******NAVIGATION******/
.navBody {
    height: 75px;
    background: #434966;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList {
    display: flex;
    list-style-type: none;
}

.navList_item {
    font-size: 2rem;
    margin-right: 1em;
    border: solid 1px white;
    padding: 0.7em 0em;
}

.navList_item:last-child {
    margin-right: 0em;
}

.navList_item a {
    text-decoration: none;
    color: white;
    padding: 0.7em;
}

.navList_item:hover {
    background: #69719b;
}

@media screen and (max-width: 670px) {
    .navList_item {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .navList_item {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    .navList_item {
        font-size: 1rem;
    }
}

/******HOMEPAGE******/
.homepage {
    min-height: 90vh;
    background-image: url("../../../Desktop/Images/homepage_cover.jpg");
    background-color: goldenrod;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 2px #F79855;
    margin-bottom: 4em; 
}

/*******ABOUT US*******/
.aboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}


/*Card Template*/
.cards--small {
    height: 50rem;
    width: 65vw;
    max-width: 25rem;
    margin-bottom: 4em;
    border: solid 0.5px black;
}

.cards--med {
    height: 50rem;
    width: 80vw;
    max-width: 60rem;
    margin-bottom: 4em;
    border: solid black;
}

/*Card Image Template*/
.cards_img {
    height: 40%;
    background-size: cover;
    background-position: center;
}

/*Set aboutUs card images*/
.aboutUs1_img {
    background-image: url(../../../Desktop/Images/aboutUs_card1.jpg);
}

.aboutUs2_img {
    background-image: url(../../../Desktop/Images/aboutUs_card2.jpg);
}

.aboutUs3_img {
    background-image: url(../../../Desktop/Images/aboutUs_card3.jpg);
}

.aboutUs4_img {
    background-image: url(../../../Desktop/Images/aboutUs_card4.jpg);
}

.aboutUs5_img {
    background-image: url(../../../Desktop/Images/aboutUs_card5.jpg);
}

/*AboutUs card info*/
.cards_infoContainer {
    position: relative;
    font-size: 1.5rem;
    padding: 1em;
    min-height: 60%;
    background: rgba(229, 105, 31, 0.04);
}

.cards_infoContainer h5 {
    font-size: 2rem;
    color: #1F5396;
}

.aboutUs button {
    font-size: 1.6rem;
    position: absolute;
    border-radius: 20px;
    padding: 0.3em;
    left: 50%;
    top: 85%;
    background: #F79855;
    color: white;   
}

/* .card5_button {
    font-size: 1.6rem;
    position: absolute;
    border-radius: 20px;
    padding: 0.3em;
    left: 100px;
    top: 85%;
    background: #F79855;
    color: black;
} */

@media screen and (min-width: 640px) {
    .aboutUs {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .cards--small {
        width: 32vw;
        max-width: 35rem;
    }

    .cards--med {
        width: 45vw;
    }
}